* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

#editor-container {
    width: 50%;
    height: 100vh;
    overflow: auto;
}


#editor-container .cm-editor {
    height: 100%;
}

.preview-container {
    width: 50%;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    overflow: auto;
}

